<%= link_to "Back to List ", action: 'index', class: "back-link"  %>

<div class ="topic Delete">
	<h2> Delete Topic</h2>

	<%= form_for(:topic1s, url:  {action: 'destroy', id: @topic1s.id}) do |t| %>
     
    <p> Are you sure you want to permantly delete this Topic></p>

    <p class="refernce-name"> <%= @topic1s.name %> </p>

    <div class ="form-buttons">  
    	<%= submit_tag("Delete Topic") %>
    </div>

    <% end %>
</div>
